apiVersion: 1
datasources:
  - name: CockpitREF
    type: postgres
    uid: cockpit_ref_pg
    access: proxy
    url: 127.0.0.1:5432
    database: cockpit_ref
    user: cockpit_user
    secureJsonData:
      password: ${DB_PASSWORD}
    jsonData:
      sslmode: disable
      postgresVersion: 1600
      timescaledb: false
    isDefault: true
    editable: true
